<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>linkler</title>
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
  <link rel="stylesheet" href="{% static 'css/mediaqueries.css'%}">
  <script src="{% static 'javascript/script.js'%}"></script>
</head>
<body scroll="no">
  <header>
    <h1 id="title">Linkler</h1>
    <nav id="desktop-nav">
      <ul>
        <li class="btn-container">
          <button>Support</button>
        </li>
        <li class="btn-container">
          <button>Download Linkler</button>
        </li>
        <li class="btn-container">
          <button>About</button>
        </li>
        <li class="btn-container">
          <button>Contribute</button>
        </li>
        <li id="signup-login">
          <div class="btn-container">
            <button>Sign up</button>
            <img id="sign-up-in-1" src="{%static 'assets/sign-up-in.png'%}" alt="sign in and sign up arrow"> 
          </div>
          <div class="btn-container">
            <button>Log in</button>
            <img id="sign-up-in-2" src="{% static 'assets/sign-up-in.png' %}" alt="sign in and sign up arrow"> 
          </div>
        </li>
      </ul>
    </nav>

  <nav id="hamburger-nav">
    <div class="hamburger-menu">
      <div class="hamburger-icon" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="menu-links">
        <li class="btn-container">
          <button>Support</button>
        </li>
        <li class="btn-container">
          <button>Download Linkler</button>
        </li>
        <li class="btn-container">
          <button>About</button>
        </li>
        <li class="btn-container">
          <button>Contribute</button>
        </li>
        <li id="signup-login">
          <div class="btn-container">
            <button>Sign up</button>
            <img id="sign-up-in-1" src="{%static 'assets/sign-up-in.png'%}" alt="sign in and sign up arrow"> 
          </div>
          <div class="btn-container">
            <button>Log in</button>
            <img id="sign-up-in-2" src="{%static 'assets/sign-up-in.png'%}" alt="sign in and sign up arrow"> 
          </div>
        </li>
      </div>
    </div>
    
  </nav>

  
  </header>
  <main>
    <div class="container">
      <div class="text-container">
        <h2>A place  To find Travel companions</h2>
        <p>If you love travelling Linkler is made for you. find people who want to go to the same places you want to go and travel with them. Save money, explore, get out of your comfort zone and most of all make memories.
        </p>
      </div>
      <div class="img-container">
          <img src="{% static 'assets/travellers-pic-1.png'%}" alt="travellers hiking">
      </div>
    </div>
  </main>
  <script src="script.js"></script>
</body>
</html>

