/* GENERAL */

* {
  margin: 0;
  padding: 0;
  font-family: cursive;
}


  body {
    background-color: #ffefd5;
    display: flex;
    flex-direction: column;
  }

/*header */ 

button, p {
  font-size: 15px;
}

li {
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 5vw;
  align-items: center;
  height: 20vh;
}

ul {
  display: flex;
  align-items: center;
  gap: 25px;
}

#signup-login {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  position: relative;
}

button {
  background-color: #ffda00;
  padding: 0 30px;
  border-radius: 20px;
  font-weight: 400;
  font-weight: bold;
  height: 42px;
}

#signup-login button {
  background-color: #fff;
  width: 150px;
}

button:hover {
  background-color: #000;
  color: #fff;
}

#signup-login button:hover {
  color: #ffb6c1;
}

h1 {
  font-size: 3rem;
  color: #ffb6c1;
  text-shadow: 2px 2px #0ff;
  font-family: cursive;
  font-style: italic;
}

#sign-up-in-1, #sign-up-in-2 {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 5px;
  background-color: #fff;
}

#sign-up-in-1 {
  top: 11px;
}

#sign-up-in-2 {
  top: 58px;
}

/* Main */

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 27vw;
  height: 20vw;
  text-align: center;
  background-color: #fcd8c9;
  border-radius: 0px 80px 0px 80px;
  padding: 30px;
  transform: rotate(-1deg);
  align-items: center;
}

.text-container p {
  background-color: #fcd8c9;
  transform: rotate(1deg);
  max-height: 70%;
  max-width: 80%;
  overflow: hidden;
  font-size: 1rem;
  z-index: 2;
}

.text-container h2 {
  background-color: #fcd8c9;
  transform: rotate(1deg);
}


.img-container, img {
  width: 40vw;
}

.container {
  display: flex;
  justify-content:center;
  gap: 10vw;
  margin: auto;
  align-items: center;
  height: 70vh;
}


.menu-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 200px;
  position: absolute;
  top: 100px;
  right: 45px;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
  padding: 0;
  border-radius: 15px 0 15px 15px;
  max-height: 0;
  background-color: #ffb6c1;
  z-index: 1;
}

#hamburger-nav {
  display: none;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
  background-color: #ffb6c1;
  padding: 9px;
  border-radius: 5px;
}

.hamburger-icon span {
  width: 100%;
  height: 4px;
  background-color: #ffefd5;
  transition: all 0.3 ease-in-out;
}

.menu-links.open {
  max-height: 400px;
  padding: 8px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(7px, 7px);
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(7px, -7px);
}

.hamberger-icon span:first-child {
  transform: none;
}
.hamberger-icon span:nth-child(2) {
  opacity: 1;
}
.hamberger-icon span:last-child {
  transform: none;
}

.container.blur {
  opacity: 0.6;
}
