@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  .arrow {
    display: none;
  }
  .text-container p {
    font-size: 0.8rem;
    height: fit-content;
  }
  .text-container h2 {
    font-size: 1.2rem;
  }
  .text-container {
    height: 60vw;
  }
}

@media screen and (max-width: 800px) {
  
  .text-container {
    gap: 10px;
    width: 50vw;
    height: 40vw;
    padding: 30px;
  }
  .img-container, img {
    width: 60vw;
  }
}
