@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  .arrow {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  body {
    display: none;
  }
  * {
    background-color: #ffefd5;
  }
}